
/* Your CSS Code here. */
table {
	border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}